<div class="container">
 <div class="row">
  <div class="col-md-4">
   <%= render 'users/list', user: current_user, walk_ranking: @walk_ranking %>
  </div>
  <div class="col-md-8 mt-5 mt-md-0">
   <% unless current_user == @user %>
    <div class="profile-container">
     <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
    </div>
    <table class="table table-striped table-hover">
     <thead>
      <tr></tr>
      <tr>
       <th>ユーザー名</th>
       <th class="profile-name"><%= @user.name %></th>
      </tr>
      <tr>
       <th>自己紹介</th>
       <th class="introduction"><%= @user.introduction %></th>
       <% if current_user.following?(@user) %>
         <td>
           <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class:"btn btn-info" %>
         </td>
       <% else %>
         <td>
           <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-success" %>
         </td>
       <% end %>
      </tr>
     </thead>
    </table>
   <% end %>

            <h2><%= @user.name %>さんの記録</h2>
              <table class="table table-hover table-inverse">
                <thead>
                  <tr>
                    <th>記録日時</th>
                    <th>歩数</th>
                    <th>メモ</th>
                    <th>写真</th>
                   </tr>
                 </thead>
                 <tbody>
                   <% @walks.each do |walk| %>
                     <tr>
                       <td>
                         <%= link_to walk.created_at.strftime('%Y/%m/%d'), walk_path(walk.id) %>
                       </td>
                       <td>
                         <%= walk.walk_count %>
                       </td>
                       <td>
                         <%= walk.memo %>
                       </td>
                       <td>
                         <%= attachment_image_tag walk, :walk_image, :fill, 100, 100, format: 'jpeg' %>
                       </td>
                     </tr>
                  <% end %>
                </tbody>
              </table>
  </div>
 </div>
</div>
