 <div class="container">
   <div class="row">
     <div class="col-md-3">
       <%= render 'users/list', user: @user %>
     </div>
     <div class="col-md-8 offset-md-1">
       <h1>歩数記録一覧</h1>
         <table class="table table-hover table-inverse">
           <thead>
             <tr>
               <th></th>
               <th>記録日時</th>
               <th>歩数</th>
               <th>メモ</th>
               <th>写真</th>
             </tr>
           </thead>
             <tbody>
               <% @walks.each do |walk| %>
                 <tr>
                   <td>
                     <%= link_to user_path(walk.user.id) do %>
                       <%= attachment_image_tag walk.user, :profile_image, size: "40x40", format: 'jpeg'  %>
                     <% end %>
                   </td>
                   <td>
                     <%= link_to walk.created_at.strftime('%Y/%m/%d'), walk_path(walk.id) %>
                   </td>
                   <td>
                     <%= walk.walk_count %>歩
                   </td>
                   <td>
                     <%= walk.memo %>
                   </td>
                   <td>
                     <%= attachment_image_tag walk, :walk_image, :fill, 100, 100, format: 'jpeg' %>
                   </td>
                 <% if walk.favorited_by?(current_user) %>
                   <td id="favorite_buttons_<%= walk.id %>">
                     <%= link_to walk_favorites_path(walk.id), method: :delete do %>
                       ♥<%= walk.favorites.count %>
                     <% end %>
                   </td>
                 <% else %>
                   <td>
                     <%= link_to walk_favorites_path(walk.id), method: :post do %>
                       ♡<%= walk.favorites.count %>
                     <% end %>
                   </td>
                 <% end %>
                   <td>
                     コメント件数：<%= walk.walk_comments.count %>
                   </td>

                </tr>
              <% end %>
            </tbody>
          </table>
    </div>
  </div>
</div>