<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= render 'users/list', user: current_user, walk_ranking: @walk_ranking %>
    </div>
    <div class="col-md-8 offset-md-1">
     <table class="table table-striped table-hover">
      <tbody>
       <tr id="walk_<%= @walk.id %>">
         <td>
           <%=link_to user_path(@walk.user_id) do %>
             <%= attachment_image_tag @user, :profile_image, size: "40x40", format: 'jpeg', fallback: "icon_032200_48.jpg" %>
           <% end %>
           <br>
             <%=link_to user_path(@user.id) do %>
               <%= @user.name %>
             <% end %>
         </td>
          <td>
            <%= @walk.walk_count %>歩
          </td>
          <td>
            <%= @walk.memo %>
          </td>
          <td>
            <%= attachment_image_tag @walk, :walk_image, size: "64x64", format: 'jpeg', fallback: "icon_002640_64.png" %>
          </td>
          <td id="comment_count">
            コメント件数：<%= @walk.walk_comments.count %>
          </td>
          <td class="favorite-btn">
           <%= render "favorites/favorite-btn", walk: @walk %>
          </td>
          <%# if @walk.favorited_by?(current_user) %>
            <!--<td id="favorite_buttons_<%#= @walk.id %>">-->
              <%#= link_to walk_favorites_path(@walk.id), method: :delete do %>
                <%#= @walk.favorites.count %>
              <%# end %>
            <!--</td>-->
          <%# else %>
            <!--<td>-->
              <%#= link_to walk_favorites_path(@walk.id), method: :post do %>
                <%#= @walk.favorites.count %>
              <%# end %>
            <!--</td>-->
          <%# end %>

          <% if @walk.user == current_user %>
            <td>
              <%= link_to "修正する", edit_walk_path(@walk.id), class: "btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "取消", walk_path(@walk.id), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <h5>コメント一覧</h5>
      <div id="walk_comment_<%= @walk.id %>">
       <%= render "walk_comments/index", walk: @walk %>
      </div>
      <h5>コメントを入れる</5>
       <div id="walk_comment_<%= @walk.id %>">
         <%= render 'walk_comments/form', walk: @walk, comment: @comment %>
       </div>
    </div>
  </div>
</div>