<div class="container">
  <div class="row">
   <div class="col-md-3"><%= render 'users/list', user: @user %>
   <div class="col-md-8 offset-md-1">
    <tbody>

  <tr>
    <td>
     <%= @walk.walk_count %>歩
     </td>
     <td>
       <%= @walk.memo %>
       </td>
       <td>
         <%= attachment_image_tag @walk, :walk_image, size: "100x100", format: 'jpeg' %>
         </td>
         <td>
        コメント件数：<%= @walk.walk_comments.count %>
         </td>
         <td>
<% @walk.walk_comments.each do |walk_comment| %>
  <%= walk_comment.user.name %>
  <%= walk_comment.created_at.strftime('%Y/%m/%d') %><%= walk_comment.comment %>
  <% end %>
  </td>
  <td>
<%= form_with(model:[@walk, @walk_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</td>
         <td>
           <%= link_to "修正する", edit_walk_path(@walk.id), class: "btn btn-sm btn-success" %>
           </td>
           <td>
             <%= link_to "取消", walk_path(@walk.id), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
             </td>
  </tr>
</tbody>