<!DOCTYPE html>
  <html>
    <head>
      <title>walk_life</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
          <script src="https://kit.fontawesome.com/37a1a86a06.js" crossorigin="anonymous"></script>
          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning" >
          <div class="container">
            <%= link_to "WALK-life", root_path, class: "navbar-brand" %>
            <div class="container">
              <ul class="list-group-horizontal navbar-nav ml-auto">
                <% if user_signed_in? %>
                <div class="d-flex justify-content-center">
                  ユーザー検索<%= render 'searches/form' %>
        　　　　　　　</div>
                  <li class="margin-right">
                    <%= link_to "マイページ", user_path(current_user.id), class: "fas fa-user nav-info text-info mr-2" %>
                  </li>
                  <li class="margin-right">
                    <%= link_to "記録作成", new_walk_path, class: "fas fa-walking nav-info text-info mr-2" %>
                  </li>
                  <li class="margin-right">
                    <%= link_to "記録一覧", walks_path, class: "fas fa-shoe-prints nav-info text-info mr-2" %>
                  </li>
                  <li class="margin-right">
                    <%= link_to "ユーザー一覧", users_path, class: "fas fa-users nav-info text-info mr-2" %>
                  </li>
                  <li class="margin-right">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-door-closed nav-info text-info mr-2" %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "新規登録", new_user_registration_path, class: "fas fa-user-plus nav-info text-info mr-2" %>
                  </li>
                  <li>
                    <%= link_to "ログイン", new_user_session_path, class: "fas fa-door-open nav-info text-info mr-2" %>
                  </li>
                  <li class="margin-right">
                  <%= link_to "このサイトについて", home_about_path, class: "fas fa-chalkboard nav-info text-info mr-2" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>
       <footer class="">
        <div class="p-3 bg-warning text-white"></div>
      </footer>
  </body>
</html>
